<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"130px"} -->
<div style="height:130px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"4.1rem"}},"fontFamily":"alumni-sans"} -->
<h2 class="wp-block-heading has-text-align-center has-alumni-sans-font-family" style="font-size:4.1rem">404 </h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontFamily":"archivo"} -->
<p class="has-text-align-center has-archivo-font-family">We're sorry, the page you're looking for does not exist. </p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"rust","style":{"border":{"radius":"5px"}},"fontFamily":"archivo"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-rust-background-color has-background has-archivo-font-family wp-element-button" style="border-radius:5px">Go to Homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->